<body>


	<div class="container" ng-app="scoreBoard">
		
		<div ng-controller="tictacCtrl as scoreBoard">
			   <div class="row">
      <div class="col-span">
        <div class="text-center">
		<h1>tic - tac - toe</h1>
					    </div>
      </div>
    </div>

    <div class="row">
      <div class="col-span text-center text-container">
        <h3 ng-animate-swap="scoreBoard.words" class="animation absolute">{{scoreBoard.words}}</h3>
      </div>
    </div>
		 <div class="row">
      <div class="col-span">
        <div class="auto-margin">
          <table class="table tic-tac-toe-table text-center">
            <tr>
              <td>
                <button ng-click="scoreBoard.begin(0)" class="btn btn-default board-button">{{scoreBoard.display[0]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(1)" class="btn btn-default board-button">{{scoreBoard.display[1]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(2)" class="btn btn-default board-button">{{scoreBoard.display[2]}}</button>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="scoreBoard.begin(3)" class="btn btn-default board-button">{{scoreBoard.display[3]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(4)" class="btn btn-default board-button">{{scoreBoard.display[4]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(5)" class="btn btn-default board-button">{{scoreBoard.display[5]}}</button>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="scoreBoard.begin(6)" class="btn btn-default board-button">{{scoreBoard.display[6]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(7)" class="btn btn-default board-button">{{scoreBoard.display[7]}}</button>
              </td>
              <td>
                <button ng-click="scoreBoard.begin(8)" class="btn btn-default board-button">{{scoreBoard.display[8]}}</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
			

		  <div class="row">
      <div class="auto-margin">
        <button ng-click="scoreBoard.pcFirstPlayer()" class='btn btn-default left'>PLAY AS O</button>
        <button ng-click="scoreBoard.reset()" class='btn btn-default right'>NEW GAME</button>
				</div> 

    </div>
  </div>
</div>
</body>